@font-face {
    font-family: 'Gasq';
    src: url('../../../public/font/Gasq.otf') ;
    /* format('truetype') */
  }

* {
    margin: 0 auto;
}


body {
    font-family: "Gasq";
    max-width: 1650px;
    background-color: #eeeded;

}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: .7s;
}

a:hover {
    color: #9a9760;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    width: 100%;
}

/* .dis-block{
    display: none;
} */

/*HEADER*/

header {
    height: 120vw;
    background-image: url('../../../public/images/circle-scatter-haikei.png');
    padding-block: 20px;
}

nav {
    margin-inline: 5vw;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: rgba(121, 118, 118, 0.674);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);

    padding: 10px;
    margin-bottom: 10px;

    position: fixed !important;
    z-index: 20000;
    left: 0;
    right: 0;

}

nav ul li {
    display: none;
}

nav ul {
    margin-left: 0;
    margin-top: 10px;
}

.Logo-nav {
    margin-right: 50px;
    color: #fff;
}

.menu-hamburger {
    left: 1vw;
    right: 1vw;
    top: 93px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #515459a1;
    position: fixed;
    text-align: center;
    z-index: 1000;
    /* transition: height 2s; */
}
/* #menu-hamburger{
    transition-timing-function: linear;

} */
/* .menu-hamburger-t {
    height: 300px;
} */
.menu-hamburger li {
    padding: 1vw;
}

.menu-hamburger li:hover {
    background-color: #09022a1c;
    margin-inline: 12vw;
    border-radius: 12px;
}

.container-header {
    float: left;
    width: 100%;
    margin-top:  80px;
}

.header-left {
    padding-top: 50px;
    width: calc(100%/2);
}

.img-person {
    width: 40vw;
    height: 40vw;
    margin-left: 7vw;
    position: relative;
    animation-name: img;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes img {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 20px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}


.scroll-div {
    display: none;
}


.header-right {
    width: calc(100%/2.1);
}

.header-right>h1,
h6 {
    color: #fff;
    margin-right: 3vw;
    text-align: right;
}

.header-right h1 {
    font-size: 5vw;
    margin-top: 12vw;
}

.header-right h6 {
    font-size: 2.5vw;
    margin-top: 2vh;
}

.link-resume-social {
    align-items: center;
    padding: 1vw;
}

.link-resume-social ul li {
    padding: 1vw;
    border-radius: 100px;
    margin: .5vw .3vw;
    background-color: #aaaaaa;
}

.link-resume-social ul li:hover {
    background-color: #fff422;
    box-shadow: 0 0 90px #fff422;
}

.icon-social {
    font-size: 2.5vw;
    display: flex;
}

.btn {
    width: 15vw;
    margin-right: 6vw;
    background-color: #fff422;
    border-radius: 25px;
    border: 2px solid rgb(3, 5, 53);
    display: flex;
    text-align: center;
    align-items: center;
    transition: .4s;
}

.btn:hover {
    width: 14vw;
    margin-right: 6.5vw;
    background-color: #fff422;
    box-shadow: 0 0 30px #fff422;
}

.btn p {
    color: rgb(23, 11, 77);
    font-family: "Gasq";
    font-size: 2vw;
    font-weight: bold;
}

.btn div {
    width: 200px;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 3vw;
    margin-right: 0px;
    color: rgb(23, 11, 77);
}

/* FOOTER */

footer{
    background-color: #fff422;
    margin-top: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #09022a;
}